// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use './variables' as v;

//Reset lists
@mixin reset-nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-a {
  text-decoration: none;
  color: black;
}

//BREAKPOINTS
@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }
  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }
  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }
  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}