//BODY 

@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;
@use '../components/button' as btn;

body {
    .bg-1 {
        background-color: v.$background-color;
        font-size: 0;
        @include mx.breakpoint(desktopxl) {
                background-image: url('@/assets/img/desktop-forma@2x.png'),
                            url('@/assets/img/desktop-forma3@2x.png');
                background-repeat: no-repeat, no-repeat, no-repeat;
                background-size: 430px, 270px;
                background-position: top 135px left,
                                    top 1050px right;
            }
        .page {
            //IMAGES MOBILE
            
            background-image: url('@/assets/img/forma@2x.png'),
                        url('@/assets/img/circle@2x.png'),
                        url('@/assets/img/forma3@2x.png');
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-size: 200px, 65px, 195px;
            background-position: top 110px left 0,
                                top 240px right 0,
                                top 1232px right 0;
            //IMAGES TABLET (768px)
            @include mx.breakpoint(tablet) {

                background-image: url('@/assets/img/tablet-forma@2x.png'),
                            url('@/assets/img/circle@2x.png'),
                            url('@/assets/img/forma3@2x.png'),
                            url('@/assets/img/tablet-hero-profile-photo@2x.jpg');
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
                background-size: 275px, 65px, 195px, 307px;
                background-position: top 75px left 0,
                                    top 440px right 0,
                                    top 1005px right 0,
                                    top right;
            }
            //IMAGES DESKTOPXL (1440px)
            @include mx.breakpoint(desktopxl) {
                background-image:   url('@/assets/img/desktop-forma2@2x.png'),
                                    url('@/assets/img/desktop-hero-profile-photo@2x.jpg');
                background-repeat: no-repeat, no-repeat;
                background-size: 125px, 450px;
                background-position:  top 525px right 553px, top right 165px;
            }
        }
    }
    .bg-2 {
        background-color: v.$background-color2;
        background-image: url('@/assets/img/forma@2x.png');
        background-repeat: no-repeat;
        background-size: 200px;
        background-position: bottom 246px left 0;
        @include mx.breakpoint(tablet) {
            background-size: 165px;
            background-position: bottom 130px left 0;
        }
        @include mx.breakpoint(desktopxl) {
            background-image: url('@/assets/img/desktop-forma4@2x.png');
            background-repeat: no-repeat;
            background-size: 325px;
            background-position: bottom 200px left 0;
        }
    }

}